/* цвета фона #F5F5F5  цвет фона героя #2F303A  цвет фона и фильтра #F5F4FA */

:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --footer-hero-bgcolor: #2f303a;
  --white-color: #ffffff;
  --white-bg-color:  #ffffff;
}
html{
  box-sizing: border-box;
}
*,
*::after,
*::before{
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
  padding-inline-start: 0; 
  outline: none;
} 
body {
  color: var(--main-text-color);
  background-color: var(--white-color);
  font-family: Roboto, sans-serif;
  margin: 0;

}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.section{
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}
.content{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.content--column{
  flex-direction: column;

}

/* Лого*/

.logo {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;

  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo__black-part {
  color: #000000
}
.logo__white-part {
  color: var(--white-color);
}
.footer-logo--padding{
  padding-top: 0;
  padding-bottom: 20px;
}

/* Хедер навигация */

.header {
  background-color: var(--white-bg-color);
  border-bottom: 1px solid #ECECEC;
}
.header-nav{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-nav__link,
.header-nav__link--active {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
 
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav__link--active {
  color: var(--accent-color);
}

.header-nav__link:hover,
.header-nav__link:focus,
.header-contact__link:hover,
.header-contact__link:focus {
  color: var(--accent-color);
}
.header-nav__link--active::after{
  content: "";
  position: absolute;
  display: block;;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header-nav__item,
.header-contact__item{
  position: relative;
  margin-right: 50px;
}
.header-nav__item:last-child,
.header-contact__item:last-child{
  margin-right: 0px;
}
.header-nav__link--active{
  color: var(--accent-color);
}
.header-contact__list,
.header-nav__list{
  display: flex;
  list-style: none;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}
.header-contact__list{
  margin-left: auto;

}
.header-contact__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact__icon{
  margin-right: 10px;
  fill: currentColor;
}

/* герой */

.hero {
  width: 100%;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(
    to right, 
  rgba(47, 48, 58, 0.4), 
  rgba(47, 48, 58, 0.4)), 
  url("../images/BGHero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.section__hero{
  padding: 0;
}
.hero__title{
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--white-color);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
}
.button{
  display: inline-block;
  width: 216px;
  height: 50px;
  padding: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;

  color: var(--white-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  border-radius: 4px;
}

/* принципы */

.principles{
  padding-bottom: 0;
}
.principles__list{
  display: flex;
  margin: 0;
}
.principles__item{
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}
.principles__item:last-child{
  margin-right: 0;
}
.principles__title{
  margin-top: 0;
  margin-bottom: 10px;
  
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-text-color);
}
.principles__info {
  margin: 0;

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.principles__container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;

  background-color: #f5f4fa;
  border-radius: 4px;
}

/* чем заняты */

.activity{
  flex-direction: column;
}
.activity__title {
  margin: 0;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.activity__list{
  display: flex;
  margin: 0;
}
.activity__item{
  position: relative;
  margin-right: 30px;
}
.activity__item:last-child{
  margin-right: 0;
}
.activity__img{
  display: block;
  max-width: 100%;
  height: auto;
}
.activity__backdrop{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 27px;

  background-color: rgba(47, 48, 58, 0.8);
}
.activity__info{
  margin: 0;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color)
}

/* наша команда */

.team {
  flex-direction: column;;
  background-color: #f5f4fa;
}
.team__title {
  margin: 0;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.team__list{
  display: flex;
  margin: 0;
}
.team__item{
  margin-right: 30px;
  background-color: var(--white-bg-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
  0px 1px 1px rgba(0, 0, 0, 0.14), 
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.team__item:last-child{
  margin-right: 0;
}
.team__img{
  display: block;
  max-width: 100%;
  height: auto;
}
.team__member {
  margin: 0;
  margin-bottom: 10px;
 
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.team__info{
  margin: 0;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team__description{
  width: 100%;
  padding: 30px 10px;
}
.community{
  display: flex;
  padding-left: 22px;
  padding-right: 22px;
}
.community__item:not(:last-child){
  margin-right: 10px;
}
.community__link{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;

  text-align: center;
  fill: #afb1b8;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
.community__icon{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.community__link:hover,
.community__link:focus{
  background-color: var(--accent-color);
  fill: var(--white-color);
}

/* клиенты */

.clients__title{
  margin: 0;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.clients__list{
  display: flex;
  margin: 0;
}
.clients__item:not(:last-child) {
  margin-right: 30px;
}
.clients__link{
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: #afb1b8;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__icon{
 
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover,
.clients__link:focus{
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

/* подвал */

.footer {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--footer-hero-bgcolor);
}
.footer-padding{
  display: flex;
  
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__list{
  margin: 0;
}
.footer__item{
  margin-bottom: 9px;
}
.footer__item:last-child{
  margin: 0;
}
.footer__contacts{
  color: var(--contacts-color);

  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__contacts:hover,
.footer__contacts:focus {
  color: var(--accent-color);
}
.footer__contacts-geo {
  color: var(--white-color);

  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.footer__community-title{
  margin-top: 12px;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
}

.footer__address-container{
  display: block;
  width: 231px;
  margin-right:70px;
}
.footer__community-container:first-child{
  margin-right: 93px;
}
.footer-community--padding{
  margin: 0;
  padding: 0;
}
.footer-community__link{
  fill: var(--white-color);
  background-color: #ffffff10;
}
.footer-community__link:hover,
.footer-community__link:focus{
  background-color: var(--accent-color);
  fill: var(--white-color);
}

.footer--flex{
  display: flex;
}
.footer-form{
  display: flex;
}
.footer-form__input{
  width: 358px;
  height: 50px;
  padding: 0 16px;
  margin-right: 12px;
  
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--footer-hero-bgcolor);
  outline: none;
  color: var(--white-color);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form__input:focus{
  border-color: var(--accent-color);
}
.footer-form__button{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  padding: 0 28px;
}

/* страница Портфолио */

.projects {
  background-color: var(--white-bg-color);
}
.projects__filter{
  display: flex;
  margin: 0;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
.projects__button{
  padding: 6px 25px 6px 25px;
 
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border: none;

  background-color: #f5f4fa;
  color: var(--title-text-color);
  border-radius: 4px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.projects__filter-item{
  margin-right: 8px;
}
.projects__filter-item:last-child{
  margin-right: 0;

}
.projects__button:hover,
.projects__button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px
   rgba(0, 0, 0, 0.1), 
   0px 1px 2px rgba(0, 0, 0, 0.08), 
   0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* проекты */

.projects__title{
  margin: 0;
  margin-bottom: 4px;
  
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}
.projects__list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.projects__item{
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.projects__item:nth-child(3n+3){
  margin-right: 0;
}
.projects__item:nth-last-child(-n+3) {
  margin-bottom: 0; 
}
.projects__link{
  display: block;
  width: 100%;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__img{
  display: block;
  max-width: 100%;
  height: auto;
}
.projects__link:hover,
.projects__link:focus{
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  
}
.projects__info{
  margin: 0;

  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.projects__content{
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}
.projects__container{
  position: relative;
  overflow: hidden; 
}
.projects__backdrop{
  display: block;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 294px;
  padding: 63px 24px;

  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__backdrop-info{
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--white-color);
}
.projects__link:hover .projects__backdrop{
  transform: translateY(0);
}

/* МОДАЛКА */

.is-hidden{
  opacity: 0;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
} 
.modal-backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__window{
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;

  transform: translate(-50%, -50%);
  background: var(--white-bg-color);
} 

.modal__button--close{
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  fill:currentColor
}
.modal__button--close:focus,
.modal__button--close:hover{
  fill: var(--accent-color)
  
}
.modal__info{
 margin-top: 0;
 margin-bottom: 30px;

 font-weight: 700;
 font-size: 20px;
 line-height: 1.15;
 text-align: center;
 letter-spacing: 0.03em;

 color: var(--title-text-color);
}

/* ФОРМА в МОДАЛКЕ */

.form__container{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
}

.form__modal-label{
  position: absolute;
  top: -4px;
  transform: translateY(-100%);
  margin-bottom: 4px;
}
.form__modal-label{
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

}
.form__modal-input{
  width: 448px;
  height: 40px;
  padding-left: 42px;;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__modal-textarea{
  width: 448px;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__modal-icon{
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__modal-textarea::placeholder{
  color:  #75757550;
}
.form__modal-input:focus ~ .form__modal-icon,
.form__modal-input:focus,
.form__modal-icon:focus,
.form__modal-textarea:focus{
  fill: var(--accent-color);
  border-color:  var(--accent-color);
}
.form__checkbox{
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;

}
.form__checkbox-label{
  display: block;
  font-size: 14px;
  line-height: 1.7;
  padding-left: 25px;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.form__container:nth-child(4){
  margin-bottom: 20px;
}
.form__container:last-child{
  margin: 0;
}
.form__checkbox-link{
  margin-left: 4px;
  text-decoration:underline;
  color: var(--accent-color)
}
.form__checkbox-input{
  appearance: none;
  margin: 0;
}
.form__checkbox-icon{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 4px;
  left: 16px;
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  background-image: url(../images/icon\ check.svg);
  background-position: center;
  
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
   250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__checkbox-input:checked + .form__checkbox-icon{
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}
.form__modal-button{
  width: 200px;
  margin: 0 auto;
}
